.transactionHistory {
  margin-bottom: 40px;
}

.headRow {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  background-color: rgb(93, 137, 181);
}

.headRow > th {
  width: 200px;
}

.bodyRow > td {
  text-align: center;
  font-size: 20px;
  color: rgb(93, 137, 181);
}

.bodyRow:nth-child(odd) {
  background-color: rgb(220, 226, 230);
}

.bodyRow:nth-child(even) {
  background-color: #fff;
}
